body {
    background-color: black;
    margin: 0%;
}

#wwe {
    height: 500px;
    width: 800px;

}

.secvis  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
p {
    color: white;
    font-size: large;
}

h2 {display: flex;
justify-content: center;
align-items: center;}

section {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Roster {
    height: 25em;
    width: auto;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

.RawRoster {
    height: 25em;
    width: 30em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}

.SmackdownRoster {
    height: 25em;
    width: 30em;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
    
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    width: 8em;
    height: 12em;
    box-sizing: border-box;
    /* border: 2px solid white; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.luchador {
    width: 8em;
    height: 12em;
    transition: 0.5s;
}

:hover.luchador {
    transform: scale(1.10);
}

.selected {
    border: 0.5em solid red;
    /* transition: 0.5s; */
}

.seleccionados {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.equipos {
    display: flex;
    flex-direction: row;
}

.maquetaEquipos {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    height: 100vh;
    width: 100vw;
    color: white;
}

.equipoLuchadores {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Ring {
    height: 20em;
    width: 20em;
}

.inRing {
    height: 8em;
    width: 8em;
    border-radius: 50%;
}

.maquetacombate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

span {
    color: white;
}

.fightScreen {
    width: auto;
    height: 50vh;
    /* border: solid 0.1em white; */
    margin: 1em;
    transition: 0.5s;
}

/* Stage 4 */

.equipoPeleadores {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    width: 100em; 
}

#leftPlayer {
    height: 20em;
    width: 20em;
}

#rightPlayer {
    height: 20em;
    width: 20em;
}

.fightText {
    font-size: 2.5rem;
    color: black;
}


/* Stage 5 */

.finalScreen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.centerbtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-size: 3rem;
}

#winner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
}

.winnersize {
    height: 20em;
    width: 18em;
    color: white;
}

p {
    font-size: 1.5rem;
    color: white;
    align-items: center;
    justify-content: center;
}


/*Background Images*/

#stage1 {
    background-image: url(../img/BackgroundCharacters.jpeg);
    background-size: cover;
}

#stage2 {
    background-image: url(../img/Background_Characters.png);
    background-size: cover;
}

#stage4 {
    background-image: url(../img/ring2.jpeg);
    background-size: cover;
}
