body {
    background-color: black;
    margin: 0%;
}

#wwe {
    height: 300px;
    width: 500px;

}

.secvis  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

h1,
h2,
h3,
p {
    color: white;
    font-size: large;
}

h2 {display: flex;
justify-content: center;
align-items: center;}

section {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.roster {
    height: 30em;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .space {
    height: 28em;
    width: 25%;
    border: 1px solid red;
} */

.main_roster {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    /* border: 2px solid blue; */
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    width: 10em;
    height: 14em;
    box-sizing: border-box;
    border: 2px solid white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.luchador {
    width: 8em;
    height: 12em;
    background-color: black;
    /* margin: 1em; */
    transition: 0.5s;
    filter: opacity(0.5);
}

:hover.luchador {
    transform: scale(1.10);
}

.selected {
    border: 0.5em solid red;
    /* transition: 0.5s; */
}

.maquetaEquipos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.equipoLuchadores {
    height: 60vh;
    width: 60vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Ring {
    height: 20em;
    width: 20em;
}

.inRing {
    height: 8em;
    width: 8em;
    border-radius: 50%;
}

.maquetacombate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}


