img {
    width: 160px;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3,
p {
    color: white
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


